a {
	text-decoration: none;
}

.center-wrapper {
	text-align: center;
}
.center-wrapper * {
	margin: 0 auto;
}

.center-button {
	margin: 0 auto;
}

.ui-header .ui-title {

	overflow: visible !important; 

}

